apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: popcorn-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/yeon35/deploy_pr.git
    targetRevision: main  # 예: main, prod, v1.0.3
    path: manifest/demo-bluegreen                    # 네 prod 매니페스트 경로
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
