apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-bluegreen-demo
  namespace: demo
spec:
  project: default
  source:
    repoURL: https://github.com/yeon35/deploy_pr.git
    targetRevision: main   # ì˜ˆ: test-cd / main / develop
    path: manifest/demo-bluegreen
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
